/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.margin-top-20{
    margin-top: 20px;
}

.btn-add {
  color: #fff;
  background-color: #ff0000;
  border-color: #32d026;
}
.btn-add:focus,
.btn-add.focus {
  color: #fff;
  background-color: #ff0000;
  border-color: #13650c;
}
.btn-add:hover {
  color: #fff;
  background-color: #ff0000;
  border-color: #13650c;
}
.btn-add:active,
.btn-add.active,
.open > .dropdown-toggle.btn-add {
    color: #fff;
    background-color: #ff0000;
    background-image: none;
    border-color: #13650c;
}
    .btn-add:active:hover,
    .btn-add.active:hover,
    .open > .dropdown-toggle.btn-add:hover,
    .btn-add:active:focus,
    .btn-add.active:focus,
    .open > .dropdown-toggle.btn-add:focus,
    .btn-add:active.focus,
    .btn-add.active.focus,
    .open > .dropdown-toggle.btn-add.focus {
        color: #fff;
        background-color: #ff0000;
        border-color: #13650c;
    }
.btn-add.disabled:hover,
.btn-add[disabled]:hover,
fieldset[disabled] .btn-add:hover,
.btn-add.disabled:focus,
.btn-add[disabled]:focus,
fieldset[disabled] .btn-add:focus,
.btn-add.disabled.focus,
.btn-add[disabled].focus,
fieldset[disabled] .btn-add.focus {
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-add .badge {
    color: #337ab7;
    background-color: #fff;
}
