@{
    ViewData["Title"] = "About";
}
<div>
<h3>@ViewData["Message"]</h3>
</div>
<hr />

<div class="jumbotron">
    <ul style="list-style:square">
        <li>
            <p>
                <i>
                    Use login or signup options to get access<br />
                    for transfering money
                </i>
            </p>
        </li>
        <li>
            <p>
                <i>
                    Make requests to your friends if you <br />
                    are urgent for fast cash. Give it away when <br />
                    you ready to help your pal
                </i>
            </p>
        </li>
        <li>
            <p>
                <i>
                    Monitor your money flow, your balance <br />
                    and operations
                </i>
            </p>
        </li>
        <li>
            <p>
                <i>
                Enjoy!
                </i>
            </p>
        </li>
    </ul>
</div>
