@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" />
</head>
<div class="jumbotron">
    <div class="row">
        <partial name="_FunctionalityPartial" />
    </div>
</div>
