@model FavourPal.Models.RequestViewModel

@{
    ViewData["Title"] = "Request a loan";
}

<h2>@ViewData["Title"]</h2>

<h4>Who you want to ask money?</h4>
<hr />

<div class="row">
    <div class="text-center col-md-12 text-info"><h5>@TempData["RequestCreate"]</h5></div>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="SendRequest">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountRequested" class="control-label"></label>
                <input asp-for="AmountRequested" class="form-control" />
                <span asp-validation-for="AmountRequested" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <input type="button" onclick="location.href='@Url.Action("Index", "Account")'" value="Back to Home" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
