@using Microsoft.AspNetCore.Identity
@using FavourPal.Api.Models

@inject SignInManager<Users> SignInManager
@inject UserManager<Users> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="row margin-top-20">
        <div class="col-md-3 col-md-offset-3">
            <a href="@Url.Action("LoanMoney", "Request")" class="btn btn-primary btn-block btn-lg" style="background-color:teal; border-color:teal">Request a loan</a>
        </div>
        <div class="col-md-3 text-center">
            <a href="@Url.Action("ViewDebts", "DebtReturn")" class="btn btn-primary btn-block btn-lg" style="background-color:teal; border-color:teal">Return the debt</a>
        </div>
    </div>
    <div class="row margin-top-20">
        <div class="col-md-3 col-md-offset-3">
            <a href="@Url.Action("ViewRequests", "Request")" class="btn btn-primary btn-block btn-lg">View Requests</a>
        </div>
        <div class="col-md-3">
            <a href="@Url.Action("ViewBalance", "Account")" class="btn btn-primary btn-block btn-lg">View Balance</a>
        </div>
    </div>
}
else
{
    <div class="col-md-5 col-md-offset-1">
        <div class="text-uppercase text-info">
            Welcome!<br />
            Feel free to login or sign up and<br />
            start using Favour Pal!<br />
        </div>
    </div>
}
